<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:b="http://bootsfaces.net/ui"
        template="/template.xhtml">
    <ui:define name="content">

        <b:container>

            <h:form id="myFormID">
                <b:modal id="modal1" title="Dodawanie nowego przedmiotu" styleClass="modalPseudoClass2"
                         closable="false"  close-on-escape="false" backdrop="false">
                    <h:outputLabel value="Nazwa Produktu " for="name"/>
                    <h:inputText id="name" value="#{addItem.item.name}"/>
                    <br/>

                    <h:outputLabel value="Upload zdjęcia " for="path"/>
                    <h:inputText id="path" value="#{addItem.item.path}"/>
                    <br/>

                    <h:outputLabel value="Wybór magazynu " for="warehouse" />
                    <h:selectOneMenu id="warehouse" value="#{addItem.item.warehouse}" converter="warehouseConveter" >
                        <f:selectItems value="#{addItem.warehouse}" />
                    </h:selectOneMenu><br/>

                    <h:outputLabel value="Wybór departamentu " for="department" />
                    <h:selectOneMenu id="department" value="#{addItem.item.department}" converter="departmentConveter" >
                        <f:selectItems value="#{addItem.department}" />
                    </h:selectOneMenu><br/>

                    <h:outputLabel value="Wybór kategorii " for="category" />
                    <h:selectOneMenu id="category" value="#{addItem.item.category}" converter="categoryConverter" >
                        <f:selectItems value="#{addItem.category}" />
                    </h:selectOneMenu><br/>

                    <h:outputLabel value="Wybór taga "  />
                    <h:selectManyCheckbox value = "#{addItem.item.tags}" converter="tagConverter">
                        <f:selectItems value="#{addItem.tag}"/>
                    </h:selectManyCheckbox>

                    <br/>
                    <f:facet name="footer">
                        <b:commandButton   value="Zapisz" actionListener="#{addItem.saveItem}" ajax="true" update="@(.itemsTable)"/>
                        <b:button value="Close"  dismiss="modal" outcome="items_list"/>

                    </f:facet>
                </b:modal>
            </h:form>
            <b:row>
                <b:column span="3">
                    <b:button value="+ Dodaj nowy przedmiot"  onclick="$('.modalPseudoClass2').modal()" size="lg"/>
                </b:column>
            </b:row>

            <h:form>
                <b:dataTable value="#{itemsList.items}" class="itemsTable"
                             var="items"
                             excel="true"
                             csv="true"
                             pdf="true"
                             copy="true"
                             print="true"
                             responsive="true"

                             columnVisibility="true" >

                    <b:dataTableColumn  value="#{items.name}" label="nazwa" />
                    <b:dataTableColumn  label="zdjęcie"/>
                    <b:dataTableColumn value="#{items.department.name}" label="dział"/>
                    <b:dataTableColumn value="#{items.category.name}"  order="asc" label="kategora"/>
                    <b:dataTableColumn value="#{items.warehouse.name}" label="magazyn"/>
                    <b:dataTableColumn label="tagi">
                        <h:dataTable var = "tagi" value="#{items.tags}">
                            <h:column>
                                #{tagi.name}
                            </h:column>
                        </h:dataTable>
                    </b:dataTableColumn>

                    <b:dataTableColumn value="#{items.date}" label="data"/>



                </b:dataTable>
            </h:form>

        </b:container>
    </ui:define>
</ui:composition>
