<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:b="http://bootsfaces.net/ui"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <div id="panel_logowania">
            <form method="post" action="j_security_check">

                    <label id="panellogin" for="login">Login:</label>
                    <input type="text" id="login" name="j_username" data-icon="u" placeholder="MagazynierJS"/>
                    <label for="haslo">Hasło:</label>
                    <input type="password" id="haslo" name="j_password" data-icon="p" placeholder="X8df!90EO"/>
                    <div id="dol">
                        <input type="submit" name="j_security_check" value="Zaloguj"/>
                    </div>


            </form>
        </div>
    </ui:define>
</ui:composition>
