<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>MagazynJS</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Magazyn" />
    <meta name="keywords" content="korba" />
    <meta name="author" content="dreamTeam" />
    <h:outputStylesheet library="default" name="css/styles.css"/>
</h:head>
<h:body>



            <p:tabMenu activeIndex="#{param.i}">
                <p:menuitem value="lista przedmiotów" outcome="/magazyn/items_list" icon="" >
                    <f:param name="i" value="0" />
                </p:menuitem>

                <p:menuitem value="dodaj przedmiot" outcome="/magazyn/add_item" icon="" >
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="lista userów" outcome="/magazyn/admin/users_list" icon="" >
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="magazyny" outcome="/magazyn/admin/warehouses_list" icon="" >
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="działy" outcome="/magazyn/admin/departments_list" icon="" >
                    <f:param name="i" value="4" />
                </p:menuitem>
                <p:menuitem value="kategorie" outcome="/magazyn/admin/categories_list" icon="">
                    <f:param name="i" value="5" />
                </p:menuitem>
                <p:menuitem value="zaloguj" outcome="/login" icon="" iconAlign="right">
                    <f:param name="i" value="6" />
                </p:menuitem>



                        <input type="submit" name="j_security_chech" value="Login"/>



            </p:tabMenu>


        <ui:insert name="content"/>



    <footer>&#169;Copyright 2018 <a href="http://Codementors.pl/" target="_blank">MagazynierJS</a></footer>

</h:body>
</html>
