<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Hello, Add Tag"/>
        <h:form>
            <h:outputLabel value="Name of Tag " for="name"/>
            <h:inputText id="name" value="#{addTag.tag.name}"/>

            <br/>
            <br/>
            <h:commandButton  actionListener="#{addTag.saveTag}" ajax="false"
                              action="tag_list.xhmtl?faces-redirect=true" value="Save"/>
        </h:form>
        <h:form>
            <h:button outcome="tags_list" value="Back">
            </h:button>
        </h:form>
    </ui:define>
</ui:composition>