<?xml version="1.0" encoding="UTF-8"?>

<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Hello, world"/>
        <h:dataTable var = "categories" value="#{categoriesList.categories}">
            <h:column>
                <f:facet name = "header">Kategorie</f:facet>
                #{categories.name}
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton value="delete" actionListener="#{categoriesList.delete(categories)}" />
                </h:form>
            </h:column>

        </h:dataTable>
        <h:form>
            <h:button outcome="add_category" value="Add">
            </h:button>
        </h:form>
    </ui:define>
</ui:composition>