<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:b="http://bootsfaces.net/ui"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="userId" value="#{userEdit.userId}"/>
    </f:metadata>
    <ui:define name="content">
    <h:outputLabel value="Hello, Edit user"/>
    <h:form>
        <h:panelGrid columns="2">
            <f:facet name="header">
                <h:outputText value="user"/>
            </f:facet>
            <h:outputLabel value="login" for="login"/>
            <h:inputText id="login" value="#{userEdit.user.login}"/>
            <h:outputLabel value="haslo" for="haslo"/>
            <h:inputText id="haslo" value="#{userEdit.user.password}"/>
            <h:outputLabel value="imie" for="imie"/>
            <h:inputText id="imie" value="#{userEdit.user.name}"/>
            <h:outputLabel value="nazwisko" for="nazwisko"/>
            <h:inputText id="nazwisko" value="#{userEdit.user.surname}"/>
            <h:outputLabel value="uprawnienia" for="roles"/>
            <h:selectOneRadio id="roles" value="#{userEdit.user.role}">

                <f:selectItems value="#{userEdit.roles}"/>

            </h:selectOneRadio>
        </h:panelGrid>

        <h:commandButton actionListener="#{userEdit.saveUser}" ajax="false"
                         action="users_list.xhmtl?faces-redirect=true" value="zapisz"/>
    </h:form>


            <h:form>

                <h:panelGrid columns="2">

                    <h:outputLabel value="login" for="nowyLogin"/>

                    <h:inputText id="nowyLogin" value="#{addUser.user.login}"/>

                    <h:outputLabel value="password" for="password"/>

                    <h:inputText id="password" value="#{addUser.user.password}"/>

                    <h:outputLabel value="name" for="name"/>

                    <h:inputText id="name" value="#{addUser.user.name}"/>

                    <h:outputLabel value="surname" for="surname"/>

                    <h:inputText id="surname" value="#{addUser.user.surname}"/>
                    <h:outputLabel value="uprawnienia" for="roles1"/>
                    <h:selectOneRadio id="roles1" value="#{addUser.user.role}">

                        <f:selectItems value="#{addUser.roles}"/>

                    </h:selectOneRadio>

                </h:panelGrid>
                <h:commandButton actionListener="#{addUser.addNewUser}" ajax="false"
                                 action="users_list.xhmtl?faces-redirect=true" value="dodaj"/>

            </h:form>


    </ui:define>
</ui:composition>
