<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
    <h:outputLabel value="Hello, world"/>

    <h:dataTable var ="tags" value="#{tagsList.tags}">
        <h:column>
            <f:facet name = "header">Znaczniki</f:facet>
            #{tags.name}
        </h:column>

    </h:dataTable>

    <h:form>
        <h:button outcome="add_tag" value="Add">
        </h:button>

    </h:form>



</ui:define>
</ui:composition>
