<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="userId" value="#{userEdit.userId}"/>
    </f:metadata>
    <ui:define name="content">

        

    <h:dataTable var = "users" value="#{usersList.users}"
                 styleClass="daneOsobowe"
                 rowClasses="dane">
        <h:column>
            <f:facet name = "header">login</f:facet>
            #{users.login}
        </h:column>
        <h:column >
            <f:facet name = "header">hasło</f:facet>
            #{users.password}
        </h:column>
        <h:column >
            <f:facet name = "header">imię</f:facet>
            #{users.name}
        </h:column>
        <h:column >
            <f:facet name = "header">nazwisko</f:facet>
            #{users.surname}
        </h:column>
        <h:column >
            <f:facet name = "header">autoryzacja</f:facet>
            #{users.role}
        </h:column>
        <h:column>
            <h:form>
                <h:button outcome="edit_user" value="edycja">
                <f:param name="userId" value="#{users.id}"/></h:button>

                <h:commandButton styleClass="button" value="usuń" actionListener="#{usersList.delete(users)}" />
            </h:form>
        </h:column>
    </h:dataTable>






</ui:define>
</ui:composition>
