<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="userId" value="#{userEdit.userId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form id="myFormID">
            <b:modal id="modal2" title="+ użtkownika" styleClass="modalPseudoClass2"
                     closable="false"  close-on-escape="false" backdrop="false">
                <h:panelGrid columns="2">

                    <h:outputLabel value="login" for="nowyLogin"/>

                    <h:inputText id="nowyLogin" value="#{addUser.user.login}"/>

                    <h:outputLabel value="password" for="password"/>

                    <h:inputText id="password" value="#{addUser.user.password}"/>

                    <h:outputLabel value="name" for="name"/>

                    <h:inputText id="name" value="#{addUser.user.name}"/>

                    <h:outputLabel value="surname" for="surname"/>

                    <h:inputText id="surname" value="#{addUser.user.surname}"/>
                    <h:outputLabel value="uprawnienia" for="roles1"/>
                    <h:selectOneRadio id="roles1" value="#{addUser.user.role}">

                        <f:selectItems value="#{addUser.roles}"/>

                    </h:selectOneRadio>

                </h:panelGrid>
                <br/>
                <f:facet name="footer">
                    <b:commandButton   value="Zapisz" actionListener="#{addUser.addNewUser}" ajax="true" update="@(.usersTable)"/>
                    <b:button value="Zakończ"  dismiss="modal" outcome="users_list"/>

                </f:facet>
            </b:modal>
        </h:form>
        <b:row>
            <b:column span="1">
                <b:button value="+ użytkownika"  onclick="$('.modalPseudoClass2').modal()" size="lg"/>
            </b:column>
        </b:row>
        <h:form>
            <b:dataTable value="#{usersList.users}" class="usersTable"
                         var="users"
                         excel="true"
                         csv="true"
                         pdf="true"
                         copy="true"
                         print="true"
                         responsive="true"

                         columnVisibility="true" >

                <b:dataTableColumn  value="#{users.login}" label="login" />

                <b:dataTableColumn value="#{users.name}"  order="asc" label="imię"/>
                <b:dataTableColumn value="#{users.surname}" label="nazwisko"/>
                <b:dataTableColumn value="#{users.role}" label="autoryzacja"/>
                    <h:column label="opcje">
                        <b:buttonGroup>
                            <h:button outcome="edit_user" value="edycja">
                                <f:param name="userId" value="#{users.id}"/></h:button>


                            <h:commandButton  value="usuń" actionListener="#{usersList.delete(users)}" size="sm"/>
                        </b:buttonGroup>


                    </h:column>

            </b:dataTable>
        </h:form>


</ui:define>
</ui:composition>
